.header {
    height: 70px;
    width: 100%;
    flex-direction: row;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;


    .logo-container{
        height: 100%;
        width: 70px;
        padding: 25px;
    }

    .options{
        display: flex;
        width: 50%;
        height: 100%;
        align-items: center;
        justify-content: flex-end;
    }
    .option{
        padding: 10px 15px;
        cursor: pointer;
        font-size: 18px;
        transition: font-size 0.7s;
        color: rgb(37, 37, 37);
    }
    .option:hover{
        border-bottom: 2px solid rgb(33, 33, 192);
        font-size: 30px;
    }
  }